body {
    background-color: blue;
    text-align: center
    
  }
  /* maintain picture aspect ratio */
  img { height: 250px;
  width:250px;
  object-fit:contain; 
  border-radius: 50%;
  }
  p{
    color: yellow;
    font-size: 31px;

  }
  
  #result {
    color: white;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }